:root {
  --penguin-face: white;
  --penguin-picorna: rgb(221, 181, 106);
  --penguin-skin: gray;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background: linear-gradient(45deg, rgb(196, 210, 219), rgb(227, 227, 200));
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.left-mountain {
  width: 300px;
  height: 300px;
  background: linear-gradient(90deg, rgb(135, 160, 180), rgb(221, 250, 250));
  position: absolute;
  transform: skew(0deg, 44deg);
  z-index: 2;
  margin-top: 100px;
}

.back-mountain {
  width: 300px;
  height: 300px;
  background: linear-gradient(90deg, rgb(135, 160, 180), rgb(221, 250, 250));
  position: absolute;
  z-index: 1;
  transform: rotate(45deg);
  left: 110px;
  top: 225px;
}

.sun {
  width: 200px;
  height: 200px;
  background-color: rgb(249, 249, 192);
  position: absolute;
  border-radius: 50%;
  top: -75px;
  right: -75px;
}

.pond {
  background-image: url(Images/Ice.png);
  width: 30vw;
  height: 30vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 39vw;
  top: 11.5vw;
  z-index: 4;
}

/* Elements START */

.snow-elements,
.ice-elements,
.pet-elements {
  position: absolute;
  width: 25vw;
  height: 8vw;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.ice-elements {
  top: 39vw;
  left: 13vw;
}

.cube-01 {
  width: 20%;
  height: 60%;
  background: linear-gradient(45deg, rgba(185, 233, 233, 0.3), rgba(251, 255, 255, 0.8) 50%, rgba(185, 233, 233, 0.3) 100%);
  border: 2px solid white;
  border-radius: 20px;
  opacity: 0;
  cursor:pointer;
}

.cube-02 {
  width: 40%;
  height: 100%;
  margin-right: 1.2vw;
  background: linear-gradient(45deg, rgba(185, 233, 233, 0.3), rgba(251, 255, 255, 0.8) 50%, rgba(185, 233, 233, 0.3) 100%);
  border: 2px solid white;
  border-radius: 20px;
  transform: rotate(10deg);
  opacity: 0;
  cursor:pointer;
}

.cube-03 {
  width: 30%;
  height: 80%;
  background: linear-gradient(45deg, rgba(185, 233, 233, 0.3), rgba(251, 255, 255, 0.8) 50%, rgba(185, 233, 233, 0.3) 100%);
  border: 2px solid white;
  border-radius: 20px;
  opacity: 0;
  cursor:pointer;
}

.snow-elements {
  top: 21vw;
  left: 77vw;
  width: 20vw;
}

.snow-01 {
  width: 30%;
  height: 70%;
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(180, 218, 220), white);
  cursor: pointer;
  opacity: 0;
}

.snow-02 {
  width: 40%;
  height: 100%;
  border-radius: 50%;
  margin-left: 1vw;
  background: linear-gradient(45deg, rgb(180, 218, 220), white);
  cursor: pointer;
  opacity: 0;
}

.snow-03 {
  width: 20%;
  height: 50%;
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(180, 218, 220), white);
  cursor: pointer;
  opacity: 0;
}

.pet-elements {
  top: 40vw;
  left: 54vw;
  width: 20vw;
}

.pet-01 {
  width: 30%;
  height: 70%;
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(180, 218, 220), white);
  cursor: pointer;
  opacity: 0;
}

.pet-02 {
  background: linear-gradient(brown, burlywood);
  width: 5%;
  height: 100%;
  position: absolute;
  border-radius: 10px;
  left: 34%;
  transform: rotate(-20deg);
  cursor: pointer;
  opacity: 0;
}

.pet-03 {
  width: 60%;
  height: 80%;
  border-radius: 70px;
  background: linear-gradient(45deg, rgb(180, 218, 220), white);
  cursor: pointer;
  opacity: 0;
}

.cube-01,
.cube-02,
.cube-03,
.snow-01,
.snow-02,
.snow-03,
.pet-01,
.pet-02,
.pet-03 {
  transition: all 300ms ease-in-out;
}

.cube-01:hover,
.cube-02:hover,
.cube-03:hover,
.snow-01:hover,
.snow-02:hover,
.snow-03:hover,
.pet-01:hover,
.pet-02:hover,
.pet-03:hover {
  box-shadow: 0px 0px 30px white; 
}

/* Elements END */

/* Sign START */

.sign-ice {
  top: 35vw;
  left: 42vw;
}

.sign-snow {
  top: 7vw;
  left: 63vw;
}

.sign-woods {
  top: 28vw;
  left: 68vw;
}

.sign {
  position: absolute;
  height: 12vw;
  width: 7vw;
  z-index: 4;
}

.sign-wood {
  margin-top: 1.2vw;
  width: 100%;
  height: 35%;
  background: repeating-linear-gradient(-1deg, rgb(123, 111, 94), rgb(168, 156, 137) 10px);
  transform: rotate(-5deg);
  font-size: 2vw;
  border-radius: 10px;
  animation: 3s linear infinite swing;
}

.sign-snow .sign-wood {
  transform: rotate(5deg);
}

.sign-woods .sign-wood {
  transform: rotate(5deg);
  animation: 3s linear infinite swing-reverse;
}

.sign-stick {
  width: 15%;
  height: 50%;
  background: repeating-linear-gradient(90deg, rgb(123, 111, 94), rgb(168, 156, 137) 10px);
}

.sign-base {
  width: 100%;
  height: 15%;
  background: linear-gradient(45deg, rgb(96, 123, 146), rgb(222, 255, 255));
  border-radius: 50px 50px 20px 20px;
}

/* Sign END */

/* Castle START */

.castle {
  bottom: 13.5vw;
  left: 3vw;
  width: 35vw;
  height: 35vw;
  position: absolute;
  z-index: 4;
  display: flex;
  align-items: flex-end;
}

.short-tower {
  width: 20%;
  height: 50%;
  opacity: 0;
}

.high-tower {
  width: 30%;
  height: 95%;
  opacity: 0;
}

.door {
  width: 30%;
  height: 100%;
  opacity: 0;
}

.short-tower,
.high-tower {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.cube {
  width: 100%;
  height: 25%;
  background: linear-gradient(45deg, rgba(185, 233, 233, 0.3), rgba(251, 255, 255, 0.8) 50%, rgba(185, 233, 233, 0.3) 100%);
  border: 2px solid white;
  border-radius: 20px;
}

.roof-big {
  border-left: 4vw solid transparent;
  border-right: 4vw solid transparent;
  border-bottom: 9vw solid rgba(228, 251, 255, 0.9);
  border-radius: 30%;
  animation: 5s linear infinite roll;
}

.roof-small {
  border-left: 2.5vw solid transparent;
  border-right: 2.5vw solid transparent;
  border-bottom: 6vw solid rgb(218, 230, 232);
  border-radius: 30%;

  animation: 3s linear infinite roll;
}

.roof-bigger {
  border-left: 4vw solid transparent;
  border-right: 4vw solid transparent;
  border-bottom: 10vw solid rgba(244, 253, 255, 0.9);
  border-radius: 30%;
  animation: 7s linear infinite roll;
}

/* Castle END */

/* Snowman START */

.snowman {
  width: 10vw;
  height: 16vw;
  position: absolute;
  z-index: 4;
  top: 6vw;
  left: 74vw;
}

.snowman-head,
.snowman-middle,
.snowman-bottom {
  border-radius: 70px;
  background: linear-gradient(45deg, rgb(213, 232, 233), white);
  opacity: 0;
}

.snowman-head {
  border-radius: 50px;

  animation: 3s linear infinite roll;
}

.snowman-middle {
  position: relative;
  top: 0.5vw;

  animation: 5s linear infinite roll;
}

.snowman-head {
  width: 55%;
  height: 35%;
  background-color: white;
  position: relative;
  top: 1vw;
  z-index: 1;

  animation: 4s linear infinite roll;
}

.snowman-middle {
  width: 70%;
  height: 30%;
  background-color: white;
}

.snowman-bottom {
  width: 100%;
  height: 40%;
  background-color: white;
}

.snowman-eye-left,
.snowman-eye-right {
  width: 1vw;
  height: 1vw;
  background-color: black;
  position: relative;
  border-radius: 50%;
  top: 1.9vw;
}

.snowman-eye-left {
  left: 0.7vw;
}

.snowman-eye-right {
  top: 0.9vw;
  left: 3.6vw;
}

.snowman-eye-pupil {
  position: relative;
  top: 0.15vw;
  left: 0.15vw;
  width: 0.3vw;
  height: 0.3vw;
  background-color: white;
  border-radius: 50%;
}

.snowman-nose {
  width: 2vw;
  left: 1vw;
  height: 1vw;
  background-color: rgb(216, 175, 99);
  position: relative;
  top: 0.8vw;
  border-radius: 100% 20px 20px 100%;
  transform: rotate(-20deg);
}

.snowman-arm {
  width: 2vw;
  height: 2vw;
  background: linear-gradient(45deg, rgb(206, 232, 234), white);
  border-radius: 50%;
  position: relative;
}

.snowman-left-arm {
  right: 1vw;
  top: 1vw;
  transform: rotate(30deg);
}

.snowman-right-arm {
  top: -1vw;
  right: 1vw;
  transform: rotate(-30deg);
  left: 6vw;
}

/* Snowman END */

/* Reindeer START */

.pet {
  width: 22vw;
  height: 15vw;
  position: absolute;
  z-index: 4;
  top: 33vw;
  left: 77vw;
}

.pet-body {
  width: 60%;
  height: 40%;
  background: linear-gradient(45deg, rgb(175, 202, 204), white);
  top: 40%;
  left: 30%;
  position: absolute;
  border-radius: 80px;
  opacity:0;
}

.pet-head {
  width: 33%;
  height: 43%;
  background: linear-gradient(45deg, rgb(213, 232, 233), white);
  top: 15%;
  left: 20%;
  position: absolute;
  border-radius: 80px;
  z-index: 4;
  opacity:0;
}

.pet-nose {
  background: radial-gradient( rgb(255, 131, 131), rgb(218, 0, 0));
  width: 30%;
  height: 33%;
  top: 35%;
  left: 20%;
  position: absolute;
  border-radius: 80px;
  z-index: 4;

  animation: 3s linear infinite nose;
}

.nose-light {
  background-color: white;
  width: 30%;
  height: 33%;
  border-radius: 50%;
  margin: 0.3vw;
}

.pet-eye {
  background-color: black;
  width: 15%;
  height: 18%;
  position: absolute;
  border-radius: 50%;
  z-index: 4;
  top: 32%;
}

.pet-eye-left {
  left: 9%;
}

.pet-eye-right {
  left: 55%;
}

.eye-light-left {
  background-color: white;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  z-index: 4;
  top: 10%;
}

.eye-light-right {
  background-color: white;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  z-index: 4;
  top: 10%;
  left: 60%;
}

.pet-leg {
  background: linear-gradient(brown, burlywood);
  width: 5%;
  height: 25%;
  position: absolute;
  border-radius: 10px;
  z-index: 4;
  top: 75%;
  left: 34%;
  opacity:0;
}

.leg-01,
.leg-03 {
  transform: rotate(10deg);
  z-index: -1;
}

.leg-02,
.leg-04 {
  transform: rotate(-10deg);
}

.leg-02 {
  left: 47%;
}

.leg-03 {
  left: 65%;
}

.leg-04 {
  left: 78%;
}

.tail {
  background: linear-gradient(45deg, rgb(213, 232, 233), white);
  width: 10%;
  height: 17%;
  position: absolute;
  border-radius: 50%;
  z-index: 4;
  top: 35%;
  left: 83%;
  transform: rotate(30deg);

  animation: 1s linear infinite roll;
}

.horn-right,
.horn-left {
  background: linear-gradient(brown, burlywood);
  width: 4%;
  height: 25%;
  position: absolute;
  border-radius: 10px;
  z-index: 5;
  opacity:0;
}

.horn-right {
  transform: rotate(30deg);
  left: 44%;

  animation: 3s linear infinite right-horn;
}

.horn-left {
  transform: rotate(-30deg);
  left: 22%;
  z-index: 2;

  animation: 3s linear infinite left-horn;
}

.left-small,
.right-small {
  background: linear-gradient(brown, burlywood);
  width: 80%;
  height: 80%;
  position: relative;
  border-radius: 10px;
  right: 100%;
  z-index: -1;
}

.left-small {
  transform: rotate(-50deg);
}

.right-small {
  transform: rotate(50deg);
  left: 1vw;
}


/* Reindeer START */

.penguin {
  width: 300px;
  height: 300px;
  margin: auto;
  margin-top: 75px;
  z-index: 4;
  position: relative;
  transition: transform 1s ease-in-out 0ms;
}

.penguin * {
  position: absolute;
}

.penguin-head {
  width: 50%;
  height: 45%;
  background: linear-gradient(45deg,
      var(--penguin-skin),
      rgb(239, 240, 228));
  border-radius: 70% 70% 65% 65%;
  top: 10%;
  left: 25%;
  z-index: 1;
}

.face {
  width: 60%;
  height: 70%;
  background-color: var(--penguin-face);
  border-radius: 70% 70% 60% 60%;
  top: 15%;
}

.face.left {
  left: 5%;
}

.face.right {
  right: 5%;
}

.chin {
  width: 90%;
  height: 70%;
  background-color: var(--penguin-face);
  top: 25%;
  left: 5%;
  border-radius: 70% 70% 100% 100%;
}

.eye {
  width: 15%;
  height: 17%;
  background-color: black;
  top: 45%;
  border-radius: 50%;
}

.eye.left {
  left: 25%;
}

.eye.right {
  right: 25%;
}

.eye-lid {
  width: 150%;
  height: 100%;
  background-color: var(--penguin-face);
  top: 25%;
  left: -23%;
  border-radius: 50%;
}

.blush {
  width: 15%;
  height: 10%;
  background-color: rgb(246, 219, 224);
  top: 65%;
  border-radius: 50%;
}

.blush.left {
  left: 15%;
}

.blush.right {
  right: 15%;
}

.beak {
  height: 10%;
  background-color: var(--penguin-picorna);
  border-radius: 50%;
}

.beak.top {
  width: 20%;
  top: 60%;
  left: 40%;
}

.beak.bottom {
  width: 16%;
  top: 65%;
  left: 42%;
}

.shirt {
  font: bold 25px Helvetica, sans-serif;
  top: 10.3vw;
  left: 5.2vw;
  z-index: 1;
  color: #6a6969;
  display: flex;
  width: 6vw;
  height: 2vw;
}

.shirt div {
  font-weight: initial;
  top: 22.5px;
  left: 12px;
}

.penguin-body {
  width: 53%;
  height: 45%;
  background: linear-gradient(45deg,
      rgb(134, 133, 133) 0%,
      rgb(234, 231, 231) 25%,
      white 67%);
  border-radius: 80% 80% 100% 100%;
  top: 40%;
  left: 23.5%;
}

.penguin-body::before {
  content: "";
  position: absolute;
  width: 35%;
  height: 35%;
  background-color: var(--penguin-skin);
  top: 10%;
  left: 33%;
  border-radius: 0% 0% 100% 100%;
  opacity: 70%;
}

.arm {
  width: 30%;
  height: 60%;
  background: linear-gradient(90deg,
      var(--penguin-skin),
      rgb(209, 210, 199));
  border-radius: 30% 30% 30% 120%;
  z-index: -1;
}

.arm.left {
  top: 35%;
  left: 5%;
  transform-origin: top left;
  transform: rotate(130deg) scaleX(-1);
  animation: 3s linear infinite wave;
}

.arm.right {
  top: 0%;
  right: -5%;
  transform: rotate(-45deg);
}

.foot {
  width: 15%;
  height: 30%;
  background-color: var(--penguin-picorna);
  top: 85%;
  border-radius: 50%;
  z-index: -1;
}

.foot.left {
  left: 25%;
  transform: rotate(80deg);
}

.foot.right {
  right: 25%;
  transform: rotate(-80deg);
}

.ground {
  width: 100vw;
  height: 400px;
  background: linear-gradient(90deg, rgb(135, 160, 180), rgb(221, 250, 250));
  z-index: 3;
  position: absolute;
  margin-top: -58px;
  height: calc(100vh - 300px);
}

/* Keyframes START */

@keyframes swing {
    0% {
      transform-origin: top center;
      transform: rotate(5deg);
    }

    50% {
      transform: rotate(-5deg);
    }

    100% {
      transform-origin: top center;
      transform: rotate(5deg);
    }
}

@keyframes swing-reverse {
  0% {
    transform-origin: top center;
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  100% {
    transform-origin: top center;
    transform: rotate(-5deg);
  }
}

@keyframes wave {
  10% {
    transform: rotate(110deg) scaleX(-1);
  }

  20% {
    transform: rotate(130deg) scaleX(-1);
  }

  30% {
    transform: rotate(110deg) scaleX(-1);
  }

  40% {
    transform: rotate(130deg) scaleX(-1);
  }
}

@keyframes roll {
  35% {
    transform-origin: center bottom;
    transform: rotate(8deg);
  }

  65% {
    transform: rotate(-8deg);
  }
}

@keyframes jump {
  0% {
    margin-bottom: 0;
  }

  50% {
    margin-bottom: 3vw;
  }

  100% {
    margin-bottom: 0;
  }
}

@keyframes nose {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }

  100% {
    scale: 1;
  }
}

@keyframes tail {

  0% {
    transform: rotate(30deg);
    transform-origin: center bottom;
  }

  10% {
    transform: rotate(-30deg);
  }

  20% {
    transform: rotate(30deg);
  }

  30% {
    transform: rotate(-30deg);
  }

  40% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

@keyframes right-horn {

  0% {
    transform: rotate(30deg);
    transform-origin: center bottom;
  }

  10% {
    transform: rotate(-30deg);
  }

  20% {
    transform: rotate(30deg);
  }

  30% {
    transform: rotate(-30deg);
  }

  40% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(30deg);
    transform-origin: center bottom;
  }
}

@keyframes left-horn {

  0% {
    transform: rotate(-30deg);
    transform-origin: center bottom;
  }

  10% {
    transform: rotate(30deg);
  }

  20% {
    transform: rotate(-30deg);
  }

  30% {
    transform: rotate(30deg);
  }

  40% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(-30deg);
    transform-origin: center bottom;
  }
}

/* Keyframes END */

/* ------------------- SNOW ------------------------- */

/* intentar poner este fondo https://codepen.io/alvaromontoro/pen/GRNmdzB */

.snowflake {
	 --size: 1vw;
	 width: var(--size);
	 height: var(--size);
	 background: white;
	 border-radius: 50%;
	 position: absolute;
	 top: -5vh;
   z-index: 5
}

 @keyframes snowfall {
	 0% {
		 transform: translate3d(var(--left-ini), 0, 0);
	}
	 100% {
		 transform: translate3d(var(--left-end), 110vh, 0);
	}
}
 .snowflake:nth-child(1) {
	 --size: 1vw;
	 --left-ini: -1vw;
	 --left-end: 10vw;
	 left: 61vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -8s;
}
 .snowflake:nth-child(2) {
	 --size: 1vw;
	 --left-ini: -3vw;
	 --left-end: -8vw;
	 left: 80vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -7s;
}
 .snowflake:nth-child(3) {
	 --size: 0.4vw;
	 --left-ini: 1vw;
	 --left-end: -1vw;
	 left: 78vw;
	 animation: snowfall 13s linear infinite;
	 animation-delay: -7s;
}
 .snowflake:nth-child(4) {
	 --size: 0.2vw;
	 --left-ini: 4vw;
	 --left-end: -1vw;
	 left: 70vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(5) {
	 --size: 1vw;
	 --left-ini: -1vw;
	 --left-end: 9vw;
	 left: 16vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -5s;
}
 .snowflake:nth-child(6) {
	 --size: 0.6vw;
	 --left-ini: 5vw;
	 --left-end: -8vw;
	 left: 77vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -8s;
}
 .snowflake:nth-child(7) {
	 --size: 0.4vw;
	 --left-ini: 2vw;
	 --left-end: -5vw;
	 left: 7vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -10s;
}
 .snowflake:nth-child(8) {
	 --size: 0.8vw;
	 --left-ini: 6vw;
	 --left-end: 4vw;
	 left: 81vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(9) {
	 --size: 0.2vw;
	 --left-ini: -9vw;
	 --left-end: -7vw;
	 left: 49vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(10) {
	 --size: 0.6vw;
	 --left-ini: 5vw;
	 --left-end: -9vw;
	 left: 52vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(11) {
	 --size: 0.4vw;
	 --left-ini: -5vw;
	 --left-end: -7vw;
	 left: 15vw;
	 animation: snowfall 13s linear infinite;
	 animation-delay: -2s;
}
 .snowflake:nth-child(12) {
	 --size: 1vw;
	 --left-ini: -1vw;
	 --left-end: 7vw;
	 left: 29vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(13) {
	 --size: 0.4vw;
	 --left-ini: 2vw;
	 --left-end: -9vw;
	 left: 85vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(14) {
	 --size: 0.6vw;
	 --left-ini: -9vw;
	 --left-end: -4vw;
	 left: 35vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(15) {
	 --size: 0.6vw;
	 --left-ini: 0vw;
	 --left-end: -5vw;
	 left: 37vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -2s;
}
 .snowflake:nth-child(16) {
	 --size: 0.4vw;
	 --left-ini: 5vw;
	 --left-end: -6vw;
	 left: 51vw;
	 animation: snowfall 8s linear infinite;
	 animation-delay: -10s;
}
 .snowflake:nth-child(17) {
	 --size: 0.4vw;
	 --left-ini: 4vw;
	 --left-end: -7vw;
	 left: 10vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(18) {
	 --size: 0.6vw;
	 --left-ini: 1vw;
	 --left-end: -4vw;
	 left: 66vw;
	 animation: snowfall 14s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(19) {
	 --size: 0.6vw;
	 --left-ini: -2vw;
	 --left-end: -2vw;
	 left: 14vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -5s;
}
 .snowflake:nth-child(20) {
	 --size: 0.6vw;
	 --left-ini: -8vw;
	 --left-end: -8vw;
	 left: 68vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -2s;
}
 .snowflake:nth-child(21) {
	 --size: 0.4vw;
	 --left-ini: 5vw;
	 --left-end: 9vw;
	 left: 29vw;
	 animation: snowfall 11s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(22) {
	 --size: 1vw;
	 --left-ini: -7vw;
	 --left-end: -9vw;
	 left: 73vw;
	 animation: snowfall 14s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(23) {
	 --size: 0.6vw;
	 --left-ini: 4vw;
	 --left-end: 8vw;
	 left: 72vw;
	 animation: snowfall 14s linear infinite;
	 animation-delay: -5s;
}
 .snowflake:nth-child(24) {
	 --size: 0.4vw;
	 --left-ini: 3vw;
	 --left-end: -7vw;
	 left: 14vw;
	 animation: snowfall 14s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(25) {
	 --size: 0.6vw;
	 --left-ini: 0vw;
	 --left-end: 5vw;
	 left: 34vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -7s;
}
 .snowflake:nth-child(26) {
	 --size: 1vw;
	 --left-ini: 1vw;
	 --left-end: 4vw;
	 left: 88vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -2s;
}
 .snowflake:nth-child(27) {
	 --size: 0.6vw;
	 --left-ini: 1vw;
	 --left-end: 4vw;
	 left: 85vw;
	 animation: snowfall 11s linear infinite;
	 animation-delay: -7s;
}
 .snowflake:nth-child(28) {
	 --size: 0.8vw;
	 --left-ini: -5vw;
	 --left-end: 9vw;
	 left: 52vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -5s;
}
 .snowflake:nth-child(29) {
	 --size: 0.6vw;
	 --left-ini: 7vw;
	 --left-end: 2vw;
	 left: 57vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(30) {
	 --size: 1vw;
	 --left-ini: 2vw;
	 --left-end: 0vw;
	 left: 70vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -5s;
}
 .snowflake:nth-child(31) {
	 --size: 1vw;
	 --left-ini: 10vw;
	 --left-end: -8vw;
	 left: 34vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -10s;
}
 .snowflake:nth-child(32) {
	 --size: 0.4vw;
	 --left-ini: -8vw;
	 --left-end: 8vw;
	 left: 100vw;
	 animation: snowfall 13s linear infinite;
	 animation-delay: -5s;
}
 .snowflake:nth-child(33) {
	 --size: 0.6vw;
	 --left-ini: -3vw;
	 --left-end: -7vw;
	 left: 52vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -5s;
}
 .snowflake:nth-child(34) {
	 --size: 0.4vw;
	 --left-ini: 5vw;
	 --left-end: 10vw;
	 left: 79vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -2s;
}
 .snowflake:nth-child(35) {
	 --size: 0.8vw;
	 --left-ini: -7vw;
	 --left-end: -3vw;
	 left: 2vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -1s;
}
 .snowflake:nth-child(36) {
	 --size: 0.6vw;
	 --left-ini: 8vw;
	 --left-end: 3vw;
	 left: 3vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -5s;
}
 .snowflake:nth-child(37) {
	 --size: 0.4vw;
	 --left-ini: -5vw;
	 --left-end: 4vw;
	 left: 7vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -9s;
}
 .snowflake:nth-child(38) {
	 --size: 0.2vw;
	 --left-ini: 2vw;
	 --left-end: 4vw;
	 left: 55vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -7s;
}
 .snowflake:nth-child(39) {
	 --size: 0.2vw;
	 --left-ini: -3vw;
	 --left-end: 1vw;
	 left: 17vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(40) {
	 --size: 0.4vw;
	 --left-ini: 4vw;
	 --left-end: 10vw;
	 left: 50vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(41) {
	 --size: 0.4vw;
	 --left-ini: 5vw;
	 --left-end: -2vw;
	 left: 67vw;
	 animation: snowfall 7s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(42) {
	 --size: 1vw;
	 --left-ini: 1vw;
	 --left-end: -3vw;
	 left: 59vw;
	 animation: snowfall 12s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(43) {
	 --size: 1vw;
	 --left-ini: -6vw;
	 --left-end: -5vw;
	 left: 48vw;
	 animation: snowfall 15s linear infinite;
	 animation-delay: -3s;
}
 .snowflake:nth-child(44) {
	 --size: 0.6vw;
	 --left-ini: -4vw;
	 --left-end: 9vw;
	 left: 18vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -8s;
}
 .snowflake:nth-child(45) {
	 --size: 0.6vw;
	 --left-ini: -3vw;
	 --left-end: -8vw;
	 left: 11vw;
	 animation: snowfall 14s linear infinite;
	 animation-delay: -10s;
}
 .snowflake:nth-child(46) {
	 --size: 0.4vw;
	 --left-ini: -5vw;
	 --left-end: 9vw;
	 left: 63vw;
	 animation: snowfall 6s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(47) {
	 --size: 0.4vw;
	 --left-ini: 1vw;
	 --left-end: 4vw;
	 left: 10vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -2s;
}
 .snowflake:nth-child(48) {
	 --size: 0.2vw;
	 --left-ini: -6vw;
	 --left-end: -4vw;
	 left: 78vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -8s;
}
 .snowflake:nth-child(49) {
	 --size: 0.6vw;
	 --left-ini: 7vw;
	 --left-end: -7vw;
	 left: 78vw;
	 animation: snowfall 10s linear infinite;
	 animation-delay: -6s;
}
 .snowflake:nth-child(50) {
	 --size: 1vw;
	 --left-ini: -6vw;
	 --left-end: -4vw;
	 left: 71vw;
	 animation: snowfall 9s linear infinite;
	 animation-delay: -4s;
}
/* added small blur every 6 snowflakes*/
 .snowflake:nth-child(6n) {
	 filter: blur(1px);
}

.visible {
  opacity: 1;
}
